.hero {
  padding: 100px 80px;
  max-width: 100%;
  position: relative;
}

/* Badge */
.badge {
  display: inline-block;
  background: #1a1a1a;
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 30px;
}

/* Heading */
.hero h1 {
  font-size: 92px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -1px;
  text-align: left;
}

/* Gradient text */
.gradient-text {
  background: linear-gradient(to right, #a78bfa, #ec4899);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text-2 {
  background: linear-gradient(to right, #ec4899, #a78bfa);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Paragraph */
.hero p {
  color: #9ca3af;
  margin-top: 30px;
  max-width: 520px;
  font-size: 16px;
  line-height: 1.6;
}

.buttons {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  position: relative;
}

.buttons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 215px;
  /* 🔥 match your button width manually */
  height: 100%;

  background: linear-gradient(to right, #7c3aed, #ec4899);
  border-radius: 10px;

  transition: transform 0.5s ease;
  z-index: 0;
}


.buttons:hover::before {
  transform: translateX(calc(100% + 10px));

  width: 212.4px;
  height: 100%;
}


.hero-primary-btn,
.hero-secondary-btn {
  position: relative;
  z-index: 1;

  background: transparent;
  border: 1px solid #444;

  padding: 24px 36px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.buttons::before {
  box-shadow: 0 0 20px rgba(236, 72, 153, 0.4);
}


/* Features */
.features {
  margin-top: 25px;
  color: #6b7280;
  display: flex;
  gap: 25px;
  font-size: 14px;
}

/* 🔥 RIGHT SIDE GLOW EFFECT */
.hero::after {
  content: "";
  position: absolute;
  right: -200px;
  top: 50px;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(168, 85, 247, 0.4), transparent 70%);
  filter: blur(100px);
  z-index: -1;
}